xapi-greenfleet-accounts-maintenance/src/main/mule/xapi-greenfleet-accounts-maintenance.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="xapi-greenfleet-accounts-maintenance-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="xapi-greenfleet-accounts-maintenance-config" api="resource::8447f95a-7ec8-4e54-affa-1ffc93d1beaf:xapi-greenfleet-accounts-maintenance:1.0.0:raml:zip:xapi-greenfleet-accounts-maintenance.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="xapi-greenfleet-accounts-maintenance-main">
        <http:listener config-ref="xapi-greenfleet-accounts-maintenance-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="xapi-greenfleet-accounts-maintenance-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="xapi-greenfleet-accounts-maintenance-console">
        <http:listener config-ref="xapi-greenfleet-accounts-maintenance-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="xapi-greenfleet-accounts-maintenance-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\accounts:xapi-greenfleet-accounts-maintenance-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: "A001",
    name: "GreenFleet Solutions",
    industry: "Fleet Management",
    country: "Portugal",
    vehicles: [
      {
        id: "V101",
        brand: "Tesla",
        model: "Model 3",
        status: "available"
      }, 
      {
        id: "V102",
        brand: "Nissan",
        model: "Leaf",
        status: "in maintenance"
      }
    ]
  }, 
  {
    id: "A002",
    name: "EcoMove Logistics",
    industry: "Transportation",
    country: "Spain",
    vehicles: [
      {
        id: "V103",
        brand: "Renault",
        model: "Zoe",
        status: "reserved"
      }, 
      {
        id: "V104",
        brand: "BMW",
        model: "i3",
        status: "available"
      }
    ]
  }, 
  {
    id: "A003",
    name: "UrbanDrive Services",
    industry: "Car Sharing",
    country: "France",
    vehicles: [
      {
        id: "V105",
        brand: "Hyundai",
        model: "Kona Electric",
        status: "available"
      }, 
      {
        id: "V106",
        brand: "Peugeot",
        model: "e-208",
        status: "in maintenance"
      }
    ]
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\accounts\(id):xapi-greenfleet-accounts-maintenance-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\accounts\(id):xapi-greenfleet-accounts-maintenance-config" />
    </flow>
    <flow name="get:\maintenance:xapi-greenfleet-accounts-maintenance-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: "M501",
    vehicleId: "V102",
    description: "Battery check",
    date: "2025-11-20",
    status: "scheduled"
  }, 
  {
    id: "M502",
    vehicleId: "V106",
    description: "Brake replacement",
    date: "2025-11-21",
    status: "in progress"
  }, 
  {
    id: "M503",
    vehicleId: "V101",
    description: "Software update",
    date: "2025-11-18",
    status: "completed"
  }, 
  {
    id: "M504",
    vehicleId: "V103",
    description: "Tire rotation",
    date: "2025-11-22",
    status: "scheduled"
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\vehicles:xapi-greenfleet-accounts-maintenance-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: "V101",
    brand: "Tesla",
    model: "Model 3",
    status: "available"
  }, 
  {
    id: "V102",
    brand: "Nissan",
    model: "Leaf",
    status: "in maintenance"
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\vehicles\(id):xapi-greenfleet-accounts-maintenance-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\vehicles\(id):xapi-greenfleet-accounts-maintenance-config" />
    </flow>
    <flow name="post:\accounts:application\json:xapi-greenfleet-accounts-maintenance-config">
        <logger level="INFO" message="post:\accounts:application\json:xapi-greenfleet-accounts-maintenance-config" />
    </flow>
    <flow name="post:\maintenance:application\json:xapi-greenfleet-accounts-maintenance-config">
        <logger level="INFO" message="post:\maintenance:application\json:xapi-greenfleet-accounts-maintenance-config" />
    </flow>
</mule>
