xapi-greenfleet-accounts-maintenance/src/main/mule/xapi-greenfleet-accounts-maintenance-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">

    <flow name="getAccount">
        <http:request method="GET"
                      config-ref="xapi-to-papi-httpRequestConfig"
                      path="/api/account"/>
    </flow>

    <flow name="validate-id">
        <validation:is-true expression="#[attributes.uriParams.ID matches /^[A]\d{3}$/]"
                            message="ID inválido"/>
        <error-handler>
            <on-error-propagate type="VALIDATION:INVALID_BOOLEAN">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ message: "Invalid ID" }]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>

    <flow name="validate-status">
        <validation:is-true expression='#[if (isEmpty(attributes.queryParams.status)) true else ["available", "in maintenance", "reserved"] contains attributes.queryParams.status]'
                            message="Status errado"/>
        <error-handler>
            <on-error-propagate type="VALIDATION:INVALID_BOOLEAN">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ message: "Invalid status" }]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>

    <flow name="getAccount(ID)" doc:id="b35c9ae3-4a13-4c68-8ee1-64659fe625f5">
        <flow-ref name="validate-id"/>
        <http:request method="GET"
                      config-ref="xapi-to-papi-httpRequestConfig"
                      path="/api/account/{ID}">
            <http:uri-params><![CDATA[#[{ ID: attributes.uriParams.ID }]]]></http:uri-params>
        </http:request>
    </flow>

    <flow name="getAccount(ID)vehicles" doc:id="5ceb1748-a87d-4fbf-beb0-98191ea0c232">
        <flow-ref name="validate-id"/>
        <flow-ref name="validate-status"/>
        <http:request method="GET"
                      config-ref="xapi-to-papi-httpRequestConfig"
                      path="/api/account/{ID}/vehicles">
            <http:uri-params><![CDATA[#[{ ID: attributes.uriParams.ID }]]]></http:uri-params>
            <http:query-params><![CDATA[#[{
                model: attributes.queryParams.model,
                brand: attributes.queryParams.brand,
                status: attributes.queryParams.status
            }]]]></http:query-params>
        </http:request>
    </flow>

    <flow name="postAccount">
        <http:request method="POST"
                      config-ref="xapi-to-papi-httpRequestConfig"
                      path="/api/account"
                      outputMimeType="application/json">
            <http:headers><![CDATA[#[{
                "Content-Type": "application/json; charset=UTF-8",
                "Accept": "application/json"
            }]]]></http:headers>
        </http:request>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ message: "Accounts successfully added" }]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <flow name="postMaintenance">
        <http:request method="POST"
                      config-ref="xapi-to-papi-httpRequestConfig"
                      path="/api/maintenance"
                      outputMimeType="application/json">
            <http:headers><![CDATA[#[{
                "Content-Type": "application/json; charset=UTF-8",
                "Accept": "application/json"
            }]]]></http:headers>
        </http:request>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ message: "Maintenance request added" }]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

</mule>