papi-greenfleet-accounts-maintenance/src/main/mule/papi-greenfleet-accounts-maintenance-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
        http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">

    <flow name="papi-main">
        <http:listener config-ref="papi-httpListenerConfig" path="/api/*"/>
        <apikit:router config-ref="papi-router-config"/>
        <error-handler>
            <on-error-propagate type="ANY">
                <set-variable variableName="httpStatus" value="500"/>
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ code: 500, message: "Internal error", details: error.description }]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>

    <flow name="get:\accounts:papi-config" doc:id="c6b62365-eb04-4ed7-ac2e-488f4a733e10">
        <http:request config-ref="papi-to-sapi-httpRequestConfig" method="GET" path="/api/accounts"/>
        <set-variable variableName="httpStatus" value="#[attributes.statusCode default 200]"/>
        <set-payload value="#[payload]"/>
    </flow>

    <flow name="post:\accounts:application\json:papi-config">
        <http:request config-ref="papi-to-sapi-httpRequestConfig" method="POST" path="/api/accounts">
            <http:body><![CDATA[#[payload]]]></http:body>
        </http:request>
        <set-variable variableName="httpStatus" value="#[attributes.statusCode default 201]"/>
        <set-payload value="#[payload]"/>
    </flow>

    <flow name="papi-get-accounts-by-id">
        <http:request config-ref="papi-to-sapi-httpRequestConfig" method="GET" path="#['/api/accounts/' ++ attributes.uriParams.id]"/>
        <set-variable variableName="httpStatus" value="#[attributes.statusCode default 200]"/>
        <set-payload value="#[payload]"/>
    </flow>

    <flow name="get:\maintenance:papi-config">
        <http:request config-ref="papi-to-sapi-httpRequestConfig" method="GET" path="/api/maintenance"/>
        <set-variable variableName="httpStatus" value="#[attributes.statusCode default 200]"/>
        <set-payload value="#[payload]"/>
    </flow>

    <flow name="post:\maintenance:application\json:papi-config">
        <http:request config-ref="papi-to-sapi-httpRequestConfig" method="POST" path="/api/maintenance">
            <http:body><![CDATA[#[payload]]]></http:body>
        </http:request>
        <set-variable variableName="httpStatus" value="#[attributes.statusCode default 201]"/>
        <set-payload value="#[payload]"/>
    </flow>

    <flow name="get:\vehicles:papi-config">
        <http:request config-ref="papi-to-sapi-httpRequestConfig" method="GET" path="/api/accounts"/>
        <set-variable variableName="httpStatus" value="#[attributes.statusCode default 200]"/>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[
                %dw 2.0
				output application/json
				var qp = attributes.queryParams
				var brand = (qp.brand default null)
				var model = (qp.model default null)
				var status = (qp.status default null)
				var vehicles = (payload default []) flatMap ((a) -> (a.vehicles default []))
				fun eqOrAll(v, f) = f == null or (lower(v as String) == lower(f as String))
				---
				vehicles
				  filter ((v) ->
				    eqOrAll(v.brand, brand) and
				    eqOrAll(v.model, model) and
				    eqOrAll(v.status, status))]]>
				</ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <flow name="get:\vehicles\(id):papi-config">
        <http:request config-ref="papi-to-sapi-httpRequestConfig" method="GET" path="/api/accounts"/>
        <ee:transform>
            <ee:message>
            <ee:set-payload><![CDATA[
            %dw 2.0
            output application/json
            var id = attributes.uriParams.id
            var vehicles = (payload default []) flatMap ((a) -> (a.vehicles default []))
            var match = (vehicles filter ($.id == id))[0] default null
            ---
            match
       		]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <choice>
            <when expression="#[isEmpty(attributes.uriParams.id) or payload == null]">
                <set-variable variableName="httpStatus" value="#[404]"/>
                <set-payload value="#[{ code: 404, message: 'Vehicle not found', details: 'id=' ++ attributes.uriParams.id }]">      
                </set-payload>
            </when>
            <otherwise>
                <set-variable variableName="httpStatus" value="#[200]"/>
            </otherwise>
        </choice>
    </flow>

</mule>