sapi-greenfleet-accounts-maintenance/src/main/mule/sapi-greenfleet-accounts-maintenance-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	<flow name="getAccount" doc:id="816d25e1-a263-46ed-ab2c-2cae1b5693fe" >
		<logger level="INFO" doc:name="Logger" doc:id="a112a748-5d5a-49b9-86e6-9b6c2d484ac0" message="get:\dataBaseAccount:greenfleetsystem-config" />
		<db:select doc:name="Select" doc:id="6f98d4f3-d322-437a-954b-26e3728e67a5" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * 
FROM accounts]]></db:sql>
		</db:select>
		<validation:is-true doc:name="Is not empty" doc:id="42ffcc38-a8b2-4e2c-9250-873975e28bd1" expression="#[!isEmpty(payload)]" message='"Não existem contas"'>
			<error-mapping sourceType="VALIDATION:INVALID_BOOLEAN" targetType="APP:INVALID_ACCOUNT" />
		</validation:is-true>
		<ee:transform doc:name="Transform Message" doc:id="98eed8b7-34cb-42db-a430-11cf5c9c61f6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="1b49e71a-cc56-47d8-9749-20289f0e1073" type="APP:INVALID_ACCOUNT">
				<ee:transform doc:name="Transform Message" doc:id="35acc569-7c70-4977-8c7c-31115c58b47a" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Não há contas criadas"
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="getAccount\(id)" doc:id="ef8b2b2e-8f5d-47f6-bd22-01876d149971" >
		<logger level="INFO" doc:name="Logger" doc:id="b0b715c8-2ea0-4b7d-b183-7e8735ce0bdc" message="get:\dataBaseAccount:greenfleetsystem-config" />
		<db:select doc:name="Select" doc:id="53cd16e0-2eb6-4655-96ca-7b083f55d9bd" config-ref="Database_Config" >
			<db:sql ><![CDATA[SELECT * 
FROM accounts
WHERE id = :id;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{ id: attributes.uriParams.ID }]]]></db:input-parameters>
		</db:select>
		<validation:is-true doc:name="Is not empty" doc:id="f0ce6dda-734f-4595-8b7a-8a4c72c86665" expression="#[!isEmpty(payload)]" message='"Não existem contas"'>
			<error-mapping sourceType="VALIDATION:INVALID_BOOLEAN" targetType="APP:INVALID_ACCOUNT" />
		</validation:is-true>
		<ee:transform doc:name="Transform Message" doc:id="67063091-481f-4fcc-a979-d86ae161d776" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="8549c707-c431-484d-b587-d5ecad0ecc3a" type="APP:INVALID_ACCOUNT">
				<ee:transform doc:name="Transform Message" doc:id="e2897206-ed07-4ad7-a8a8-2ecbc91b17af">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Não existe conta com o ID inserido"
}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="getAccount\(id)\vehicles" doc:id="696571c8-5e20-4589-a7ce-32ce846aed3e">
		<logger level="INFO" doc:name="Logger" doc:id="493ce557-c183-44c5-9238-76e475be95ff" message="#[payload]" />
		<db:select doc:name="Select" doc:id="bd6079b8-e2dd-46b6-8f58-43d56563f38f" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT vehicle_id, brand, model, status
FROM accounts
WHERE id = :id
AND (:brand IS NULL OR brand = :brand)
AND (:model IS NULL OR model = :model)
AND (:status IS NULL OR status = :status);]]></db:sql>
			<db:input-parameters><![CDATA[#[{ id: attributes.uriParams.ID,
  brand: attributes.queryParams.brand,
  model: attributes.queryParams.model,
  status: attributes.queryParams.status
}]]]></db:input-parameters>
		</db:select>
		<validation:is-true doc:name="Is not empty" doc:id="85502718-ea19-4cea-9ea4-67129b27aac6" expression="#[!isEmpty(payload)]" message='"Não existem veiculos"'>
			<error-mapping sourceType="VALIDATION:INVALID_BOOLEAN" targetType="APP:INVALID_ACCOUNT" />
		</validation:is-true>
		<ee:transform doc:name="Transform Message" doc:id="49c13a5f-ccfc-4865-bf14-e46f5b509f68">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate1" doc:id="4a8ac6ab-72d1-4692-9e0d-73f078e36323" type="APP:INVALID_ACCOUNT">
				<ee:transform doc:name="Transform Message" doc:id="2c27e81e-81c9-41e9-8c71-a811429fa401">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Não existem veiculos"
}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="postAccount" doc:id="9711a47f-8433-44f7-9e26-7589b9200515" >
		<logger level="INFO" doc:name="Logger" doc:id="a1366fcf-627d-4748-b7b7-9ba9b4f67d53" />
		<set-variable value="#[payload]" doc:name="Accounts" doc:id="80051c05-dfee-4cd4-bdf5-1eace32d31fd" variableName="info" />
		<db:delete doc:name="Delete" doc:id="8161b8aa-422d-4f80-a21a-44044f27acd8" config-ref="Database_Config" >
			<db:sql ><![CDATA[DELETE FROM accounts;]]></db:sql>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="aa0809e1-c7dd-4350-afae-9f501b7a148c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.info flatMap ((company) ->
    company.vehicles map ((vehicle) -> {
        id: company.id,
        name: company.name,
        industry: company.industry,
        country: company.country,
        vehicle_id: vehicle.id,
        brand: vehicle.brand,
        model: vehicle.model,
        status: vehicle.status
    })
)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger1" doc:id="753c0b4e-8d33-4e90-b282-991187fe9ab2" />
		<db:bulk-insert doc:name="Bulk insert" doc:id="da53e347-ee84-4e8a-9991-00dadca18a5d" config-ref="Database_Config" >
			<db:sql ><![CDATA[INSERT INTO accounts (id, name, industry, country, vehicle_id, brand, model, status)
VALUES (:id, :name, :industry, :country, :vehicle_id, :brand, :model, :status);]]></db:sql>
		</db:bulk-insert>
	</flow>
	<flow name="postMaintenance" doc:id="5c0ae436-3ae1-404a-9916-429b263fc4aa" >
		<logger level="INFO" doc:name="Logger" doc:id="0e14c9fd-4fbf-481f-81d1-569f8294668d" />
		<ee:transform doc:name="Transform Message" doc:id="eb2bb5d7-9c92-4b36-9e32-64cc7bb1d7ac" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
    id: payload.id,
    vehicleId: payload.vehicleId,
    description: payload.description,
    date: payload.date,
    status: payload.status
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:insert doc:name="Insert" doc:id="622926dd-7488-461a-87a3-2984c18d60e6" config-ref="Database_Config" >
			<db:sql ><![CDATA[INSERT INTO maintenance (id, vehicleId, description, date, status)
VALUES (:id, :vehicleId, :description, :date, :status);]]></db:sql>
			<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
		</db:insert>
	</flow>
	
	</mule>
